# Entorno Virtual
ll_env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de distribución
build/
dist/
*.egg-info/

# Django
db.sqlite3
*.log

# Variables de entorno
.env

# VS Code
.vscode/

# Archivos del sistema 
.DS_Store
Thumbs.db